body{
    background: #bdcaff;
}

*
{
    font-family: sans-serif; /* Change your font family */
}

.content-table {
    border-collapse: collapse;
    margin-left: auto ;
    font-size: 1.2em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: cornflowerblue;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid cornflowerblue;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: cadetblue;
}
.r1{
    width:1680px;
}

.bgc{
    background-color: cornflowerblue;
}
.slikaAdmin{
    width: 170px;
    height: 170px;
    border-radius:300px;
    margin-top:30px;
}
.tc{
    color: #1b1e21;
}
.costumeHH1{
    font-family: Optima;
    font-size: 60px;
    margin-left: 0px;
}

.hr5
{
    width: 90%;
    height: 1px;
    margin-bottom: 20px;
}
.naslov {
    font-family: Optima;
    font-size: 60px;
}